<?xml version="1.0" ?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  <!-- Configurações ros2_control para 3 juntas -->
  <ros2_control name="montagem_control" type="system">
    <hardware>
      <plugin>gazebo_ros2_control/GazeboSystem</plugin>
    </hardware>
    <joint name="linkvertical1_to_base_link">
      <state_interface name="position"/>
      <command_interface name="position"/>
    </joint>
    <joint name="linkvertical2_to_linkvertical1">
      <state_interface name="position"/>
      <command_interface name="position"/>
    </joint>
    <joint name="linkhorizontal1_to_linkvertical2">
      <state_interface name="position"/>
      <command_interface name="position"/>
    </joint>
  </ros2_control>
</robot>
